@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
    body {
      font-family: Arial, Sans,serif;
      background: linear-gradient(90deg, rgba(210,19,19,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0.8491771708683473) 100%);
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    h1 {
      color: #fff;
      text-align: center;
      font-family: 'Croissant One', cursive;
    }
    body img {
          display: block;
          margin: 0px auto;
          border-radius: 50%;
          border-style: solid;
          border-color: white;
          border-width: 10px;
          width: 300px;
    }

    #titulo{
          display: flex;
          flex-direction: column;
          color:  rgba(210,19,19,1);
 }
    #info{
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-family: 'Croissant One', cursive;
f
    }

    #contato{
      text-align: center;
      font-family: inherit;

    }

    #all{
      display: flex;
      flex-direction: column;
    }
    
    .redes{
      border-radius: 10px;
      border-color: rgb(5, 0, 0);
      background-color: rgb(199, 16, 16);
      color:#ffffff;
    font-size: 22px;
    padding: 10px 20px;
    }
    